*{
    margin: 0px;
    padding: 0px;
}
.colorRosaOscuro {
    background-color: #f0533f;
}

.colorRosaPalido {
    background-color: #fc7665;
}

.colorGris {
    background-color: #c4c4a5;
}

.colorNegro {
    background-color: black;
}

.fuenteBaskerville{
    font-family: Baskerville;
    font-style: oblique;
}

.fuentePoppins{
    font-family: 'Poppins';
    font-style: normal;
}

.imagenFondo{
    background-image: url('https://images6.alphacoders.com/483/483806.jpg');
    height: 550px;
}

.bigSize {
    font-size: 3rem;
}